<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mapper 2.0</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://cdn.rawgit.com/leongersen/noUiSlider/master/distribute/nouislider.min.css'>
    <link rel="stylesheet" href="./style.css">

</head>
<body>
    <div class="header">
        <div class="container-fluid text-left">
            <div class="helper">CreatorFrames Mapper(V2.0)</div>
        </div>
    </div>

    <div class="splash-container">
        <div class="container-fluid">
            <p class="splash-head">
                Choose an image from your computer and highlight areas to create the map for the image frame.
            </p>
            <div class="splash">
                <input type="file" id="file" name="file" accept="image/*">
                <label class="pure-button" for="file">Select Image</label>
                <input type="button" id="btnpopup" style=" display:none;">
                <label class="pure-button" for="btnpopup">Import JSON</label>
            </div>
        </div>
    </div>

    <div class="container-fluid text-left">

        <div style="margin-top:20px;">
            <label class="control-label">Add Background Image</label>
            <input type="file" id="bg_image"/>
        </div>

        <div class="form-group admin-menu">
            <div class="row">
                <div class="col-sm-2  form-group">
                    <label>Width (px)</label>
                    <input type="number" id="width" class="form-control" value="4320"/>
                </div>
                <div class="col-sm-2 form-group">
                    <label>Height (px)</label>
                    <input type="number" id="height" class="form-control" value="1350"/>
                </div>
                <div class="col-sm-2 form-group">
                    <label>&nbsp;</label>
                    <br/>
                    <button class="btn btn-primary">Save</button>
                </div>
            </div>

            <div class="row">
                <div layout="row" class="layout-row">
                    <button class="md-raised btn-sm md-button md-ink-ripple" id="bringForward" type="button"
                            ng-transclude="" ng-click="main.activeObject.bringForward()">↑

                        <div class="md-ripple-container" style=""></div>
                    </button>
                    <button class="md-raised btn-sm md-button md-ink-ripple" id="bringToFront" type="button"
                            ng-transclude="" ng-click="main.activeObject.bringToFront()">⇑

                    </button>
                    <button class="md-raised btn-sm md-button md-ink-ripple" id="sendBackwards" type="button"
                            ng-transclude="" ng-click="main.activeObject.sendBackwards()">↓

                    </button>
                    <button class="md-raised btn-sm md-button md-ink-ripple" id="sendToBack" type="button" ng-transclude=""
                            ng-click="main.activeObject.sendToBack()">⇓

                    </button>
                </div>
            </div>
            <div class="btn-group">
                <button class="btn btn-primary" id="select">Selection mode</button>
                <button class="btn btn-primary" id="draw">Drawing mode</button>
                <button class="btn btn-primary" id="copy">Copy</button>
                <button class="btn btn-primary" id="paste">Paste</button>
                <button class="btn btn-primary rectangle">+ &#9647; Table</button>
                <button class="btn btn-danger remove">Remove</button>
            </div>
        </div>

        <canvas id="canvas" width="4320" height="1350"></canvas>
    </div>

    <div class="modal fade" id="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <p id="modal-table-id"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <br/>
    <button id='canvas2json'>canvas2json</button>
    <button id='loadJson2Canvas'>loadJson2Canvas</button>
    <button id='add2Canvas'>add2canvas</button>

    <div class="foot-container">
        <div class="footer">
            © CreatorFrames 2019
        </div>
    </div>

    <textarea id='myTextArea'></textarea>
    <!-- partial -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.7.11/fabric.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
    <script src='https://cdn.rawgit.com/leongersen/noUiSlider/master/distribute/nouislider.min.js'></script>
    <script src="./script.js"></script>
</body>
</html>
